<%= form_with model: [:admin, @badge], local: true do |form| %>
  <%= render 'shared/errors', resource: @badge %>

  <div class="form-group">
    <p>
      <%= form.label :name %>
      <%= form.select :name, options_for_select(Badge::RULES), prompt: true, class: "custom-select" %>
    </p>
    
    <p>
      <%= form.label :image %>
      <%= form.text_field :image %>
    </p>

    <p><%= form.submit class: "btn btn-primary" %></p>
<% end %>
</div>
