<div class="row justify-content-center mt-3">
  <div class="col col-md-4"><h1><%= t('.header') %></h1></div>

  <div class="col-12"><%= link_to t('.new_badge'), new_admin_badge_path %>
    <%= render 'shared/errors', resource: @badge %>
    <table class="table table-striped">
      <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.image') %></th>
        <th><%= t('.rule') %></th>
        <th colspan="3"><%= t('tests.index.actions') %></th>
      </tr>
      </thead>
      <tbody>
      <%= render @badges %>
      </tbody>
    </table>
  </div>
</div>
