<div class="row justify-content-center mt-3">
  <div class="col col-md-3"><h1><%= t('admin.tests.index.gists') %></h1></div>

  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col"><%= t('.user') %></th>
      <th scope="col"><%= t('.question') %></th>
      <th scope="col"><%= t('.url') %></th>
    </tr>
    <%= render @gists %>
    </thead>

  </table>
  <%= link_to t('admin.answers.edit.back'), admin_tests_path %>
</div>


