<nav class="navbar navbar-light bg-dark">
 <div class="container-fluid">
  <%= link_to t('shared.navbar.header'), root_path, class: "navbar-brand text-white" %> 


  <div class="navbar navbar-nav">
    <%  if user_signed_in? %>
    <span class="navbar-text text-white">
    <%= t('shared.navbar.welcome') %> <b><%= current_user.name.capitalize %></b>
    </span>
      <% if current_user.admin? %>
        <%= link_to t('admin.nav.header'), admin_tests_path, class: "nav-link text-white"  %>
      <% end %>   

    <b><%= link_to t('shared.navbar.logout'), destroy_user_session_path, method: :delete %></b>
  

     <% else %>


         <%= link_to t('shared.navbar.sign_up'), new_user_registration_path, class: "navbar-brand text-white"  %> 
         <%= link_to t('shared.navbar.sign_in'), new_user_session_path, class: "navbar-brand text-white"  %> 
    <% end %>
    </div>
  </div>

</nav>

