    <tr>
      <td><%= test.title %></td>
      <td><%= test.level %></td>
      <td><%= test.author.type %>: <%=test.author.name%> </td>
      <td><%= test.category_id %></td>
      <td><%= test_level(test) %></td>
      <td><%= test.questions.size %></td> 
      <td><%= link_to t('admin.answers.answer.show'), admin_test_path(test) %></td>
      <td><%= link_to t('admin.answers.answer.edit'), edit_admin_test_path(test) %></td>
      <td>
        <%= button_to t('admin.answers.answer.delete'), 
                    admin_test_path(test),
                    method: :delete,
                    data:   { confirm: t('.del_confirm', title: test.title) } %>

      </td>
    </tr>
