    <tr>
      <td class="align-middle">
        <%= test.title %>
        <%= render 'form_inline', test: test == @test ? @test : test %>
        </td>
      <td class="align-middle"><%= test.level %></td>
      <td class="align-middle"><%= test.author.type %>: <%=test.author.name%> </td>
      <td class="align-middle"><%= test.category_id %></td>
      <td class="align-middle"><%= test_level(test) %></td>
      <td class="align-middle"><%= test.questions.size %></td> 
      <td class="align-middle"><%= link_to t('admin.answers.answer.show'), admin_test_path(test) %></td>
      <td class="align-middle"><%= link_to t('admin.answers.answer.edit'), edit_admin_test_path(test) %></td>
      <td class="align-middle">
        <%= link_to t('admin.answers.answer.delete'), 
                    admin_test_path(test),
                    method: :delete,
                    data:   { confirm: t('.del_confirm', title: test.title) } %>

      </td>
    </tr>
