
<div class="row justify-content-center mt-3">
  <div class="col col-md-4"><h1><%= t('tests.index.header') %></h1></div>

    <div class="col-12"><%= link_to t('.new_test'), new_admin_test_path %>
                        <%= link_to t('.gists'), admin_gists_path %>
      <table class="table table-striped">
        <thead>
        <tr>
          <th><%= t('.title')%></th>
          <th><%= t('.level')%></th>
          <th><%= t('.author')%></th>
          <th><%= t('.category')%></th>
          <th  cosplan="3" bgcolor="#FBF0DB"><%= t('.actions')%></th>
          <th  cosplan="3" bgcolor="#FBF0DB"><%= t('.quest_count')%></th>
        </tr>
        </thead>
        <tbody>
        <%= render @tests %>
        </tbody>
      </table>
    </div>  
  </div>
</div>
