<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <strong>Author:</strong>
  <%= @test.author_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @test.category_id %>
</p>

<p>
  <strong>Кол-во вопросов:</strong>
  <%= @test.questions.size%>
</p>

<p>
  <%= link_to 'Создать вопрос', new_admin_test_question_path(@test) %>
</p>

<h3>Вопросы теста:</h3>
<table>
  <%= render @question %>
</table>

<%= link_to 'Edit', edit_admin_test_path(@test) %> |
<%= link_to 'Back', admin_tests_path %>
