<h1> <%= t('tests.index.header') %> </h1>
  <table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.author') %></th>
    <th><%= t('.category') %></th>
   
    <th  bgcolor="#FBF0DB"><%= t('.quest_count') %></th>
    <th  bgcolor="#FBF0DB"><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>

</table>
