<!DOCTYPE html>
<html>
  <head>
    <title><%= t('shared.navbar.header') %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="nav user"><%= link_to t('shared.navbar.header'), root_path %></p>
   
    <%  if user_signed_in? %>
    <p class="nav user">  <%= t('shared.navbar.welcome') %> <b><%= current_user.email %></b></p> 
    <p class="nav user">  <b><%= button_to t('shared.navbar.logout'), destroy_user_session_path, method: :delete %></b></p> 
    <%  end %>  

    <%= yield %>
    <%= render 'shared/flash' %>
    <%= render 'shared/footer' %>
  </body>
</html>


